[submodule "ext/Utils"]
	path = ext/Utils
	url = https://wtmrsh@bitbucket.org/wtmrsh/utils.git
	ignore = dirty
[submodule "ext/MassivePolyPusher"]
	path = ext/MassivePolyPusher
	url = https://wtmrsh@bitbucket.org/wtmrsh/massivepolypusher.git
	ignore = dirty
